<header style="text-align: center;">
    <h1 class="site-title">
        <a href="/" class="brandmark" aria-label="Nicolas Mastropasqua (Home)">
            
            <span class="sr-only">Nicolas Mastropasqua</span>
        </a>
    </h1>
    <div>
        <a href="static/images/Headshot_Square_Background.webp">
            <picture>
                <source srcset="/static/images/Headshot_Square_Background.webp" type="image/webp">
                <img src="/static/images/Headshot_Square_Background.webp" alt="Portrait of Nicolas Mastropasqua" title="Portrait of Nicolas Mastropasqua"
                    class="portrait" fetchpriority="high" loading="eager">
            </picture>
        </a>
        <p>
            <a href="mailto:nmastropasqua@dc.uba.ar"> nmastropasqua@dc.uba.ar</a>
        </p>

        <div class="icon-grid">
            <a href="/files/NicolasMastropasquaShortCV.pdf?v=2026-08-17" title="Curriculum Vitae"><i class="ai ai-cv"></i></a>
            <a rel="me" href="https://scholar.google.com/citations?user=m-mTz2kAAAAJ&hl"><i
                    class="ai ai-google-scholar"></i></a>
            <a rel="me" href="https://github.com/nicomastro"><i class="fa-brands fa-github"></i></a>
            <a rel="me" href="https://orcid.org/0009-0002-9337-8186"><i class="fa-brands fa-orcid"></i></a>

        </div>
        <br>
    </div>

    <ul class="navbar">
        <li class="navbar_li"><a href="/" data-nav="home">Home</a></li>
        <li class="navbar_li"><a href="/events/" data-nav="events">Event-Based Vision Research</a></li>
        <li class="navbar_li"><a href="/broncho/" data-nav="broncho">Bronchoscopy Research</a></li>
        <li class="navbar_li"><a href="/teaching/" data-nav="teaching">Teaching</a></li>
        <li class="navbar_li"><a href="/talks/" data-nav="talks">Talks</a></li>

    </ul>
</header>